@model IEnumerable<CTUshshop.Models.Product>

@{
    ViewData["Title"] = "CTU sh SHOP";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<partial name="~/Views/Shared/_HeroPartial.cshtml" />
<partial name="~/Views/Shared/_BreadcrumbPartial.cshtml" />
<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-5">
                <div class="sidebar__item">
                    <h4>Popular Categories</h4>
                    @{ var PopCat = ViewBag.PopCat;}

                    @foreach (var cat in PopCat)
                    {
                        <div class="sidebar__item__size">
                            <label for="medium">
                                <a asp-area="" asp-controller="Products" asp-action="Index" asp-route-category="@cat.Id">@cat.Title</a>
                            </label>
                        </div>
                    }


                </div>
                <div class="sidebar__item">
                    <div class="latest-product__text">
                        <h4>Latest Products</h4>
                        <div class="latest-product__slider owl-carousel">
                            @{
                                int count = 0;
                                var temp = ViewBag.NewestProduct;
                            }
                            @for (int i = 0; i < 2; i++)
                            {
                                <div class="latest-prdouct__slider__item">
                                    @for (int y = 0; y < 3; y++)
                                    {
                                        var imgUrl = "/files/" + temp[count].User.UserName + "/images/";
                                        var imgList = temp[count].ProductImg;
                                        foreach (var img in imgList)
                                        {
                                            imgUrl += img.Img;
                                            break;
                                        }
                                        <a asp-action="Details" asp-controller="Products" asp-route-id="@temp[count].Id" class="latest-product__item">
                                            <div class="latest-product__item__pic">
                                                <img src="@imgUrl" alt="">
                                            </div>
                                            <div class="latest-product__item__text">
                                                <h6>@temp[count].Title</h6>
                                                <span>@temp[count].Price.ToString("#,###") <i class="fa-sharp fa-solid fa-dong-sign"></i></span>
                                            </div>
                                        </a>
                                        count++;
                                    }
                                </div>
                            }

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-7">
                <div class="section-title">
                    <h2>@ViewBag.ProductListTitle</h2>
                </div>
                <div class="filter__item">
                    <div class="row">
                        <div class="col-lg-4 col-md-5">
                            <div class="filter__sort">
                                <span>Sort By</span>
                                <select class="nice-select" id="SortOption">
                                    <option value="name">Name</option>
                                    <option value="price">Price</option>
                                    <option value="date">Date</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="filter__found">
                                <h6><span>@ViewBag.ProSum</span>Sản phẩm</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    @{
                        foreach (var item in Model)
                        {
                            if (item.Status == 1)
                            {
                                var imgUrl = "/files/" + item.User.UserName + "/images/";
                                foreach (var img in item.ProductImg)
                                {
                                    imgUrl += img.Img;
                                    break;
                                }

                                <div class="col-lg-4 col-md-6 col-sm-6">
                                    <div class="product__item border">
                                        <div class="product__item__pic set-bg" data-setbg="@imgUrl">
                                            <ul class="product__item__pic__hover">
                                                <li><a asp-action="Details" asp-controller="Products" asp-route-id="@item.Id" title="Detail"><i class="fa-sharp fa-solid fa-magnifying-glass"></i></a></li>
                                                <li><a onclick="AddToCart('@item.Id')" title="Add to cart"><i class="fa-solid fa-cart-shopping"></i></a></li>
                                            </ul>
                                        </div>
                                        <div class="product__item__text">
                                            <h6><a href="#">@item.Title</a></h6>
                                            <h5>@item.Price.ToString("#,###")&nbsp;<i class="fa-sharp fa-solid fa-dong-sign"></i></h5>
                                        </div>
                                    </div>
                                </div>
                            }

                        }
                    }
                </div>
                <partial name="~/Views/Shared/_PaginationPartial.cshtml" />
            </div>
        </div> 
    </div>
</section>

@section Scripts{ 
<script>
    //$(document).ready(function () {
    //    $('#SortOption').change(function () {
    //        var select = document.getElementById('SortOption');
    //        var value = select.value;
    //        $.ajax({
    //            type: "GET",
    //            url: "/Products/Index",
    //            data: { sortProperty: value },
    //            success: function (data) {
    //                console.log(data);
    //            }
    //        });
    //    });
    //});
</script>
}
